.game-title {
  margin: 25px auto 10px;
  width: 253px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.game-title h1 {
  font-family: 'Josefin Sans';
  color: wheat;
  text-shadow: 1px 1px 5px black;
}

.lobby-container {
  background-color: #00000059;
  width: 470px;
  margin: 0px auto 30px;
  padding: 10px;
  border-radius: 17px;
}

.lobby-choise {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin: 20px;
}

.lobby-button {
  padding: 14px 30px 9px 30px;
  /* top: 650px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%); */
  border-radius: 41px;
  background-color: #57d555;
  color: white;
  font-family: 'Josefin Sans';
  font-size: 21px;
  FONT-WEIGHT: BOLD;
  box-shadow: 0px 2px 10px 1px #0000006b;
  transition: all 0.2s ease;
  border: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
}

.lobby-button:hover {
  background-color: #45cf43;
  box-shadow: 0px 2px 10px 1px #00000070;
}

.lobby-button:active {
  background-color: #3bb339;
}

.lobby-join, .lobby-create {
  margin: 30px;
}

.lobby-input {
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid rgb(0 0 0 / 0%);
  padding: 12px 7px 7px 13px;
  outline: none;
  transition: all 200ms ease;
  box-shadow: 0px 2px 10px 1px #0000006b;
}

.lobby-input:focus {
  border: 1px solid rgb(0 0 0 / 92%);
  box-shadow: 0px 2px 10px 1px #00000070;
}

/* .lobby-join, .lobby-create  div {
  margin: 10px;
} */

.animate__animated.animate__fadeInUp {
  --animate-delay: 3s;
}

::-webkit-scrollbar {
  display: none;
}


.tracking-in-expand {
	animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.3s both;
}

 @keyframes tracking-in-expand {
  0% {
    letter-spacing: -1.2em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


.slide-in-blurred-bottom {
	animation: slide-in-blurred-bottom 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.5s both;
}

 @keyframes slide-in-blurred-bottom {
  0% {
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 100%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

